
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>instanttrack Fund | Send Payment Worldwide | Track Payment 24/7</title>
<link rel="icon" href="img/logo.png">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body class="light-version">

 <nav class="navbar navbar-expand-md navbar-white fixed-top" id="banner">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="img/logo.png" alt="logo" class="w-25" /></span>
          Instant Track
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/track">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
<div class="breadcumb-area">

<div class="breadcumb-content">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<nav aria-label="breadcrumb" class="breadcumb--con text-center">
<h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">About Us</h2>
<ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">About Us</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>
<section class="section-padding-100-70 relative">
<div class="container">
<div class="section-heading text-center">
<div class="mb-15 justify-content-center fadeInUp" data-wow-delay="0.2s">
<span class="gradient-text blue">ABOUT US</span>
</div>
<h2 class="fadeInUp" data-wow-delay="0.3s"> Why Choose Us</h2>
<p class="fadeInUp" data-wow-delay="0.4s">
Collect international payments with local ewallets, bank transfers, cash, credit and debit cards.
</p>
</div>
<div class="row">
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-left mb-100 fadeInUp" data-wow-delay="0.2s">

<div class="service_icon">
<!-- <img src="img/w4.png" alt=""> -->
<i class="fa fa-globe about_icons" aria-hidden="true"></i>
</div>
<h6>Global Payment System</h6>
<p>
An online checkout payment system to speed payments deployment across the globe.
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-left mb-100 fadeInUp" data-wow-delay="0.3s">

<div class="service_icon">
<!-- <img src="img/w5.png" alt=""> -->
<i class="fa-solid fa-handshake about_icons"></i>
</div>
<h6>Perfect partner for you</h6>
<p>The fastest way to reach billions of consumers who want to pay with local payment methods.</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-left mb-100 fadeInUp" data-wow-delay="0.4s">

<div class="service_icon">
<!-- <img src="img/w6.png" alt=""> -->
<i class="fa-solid fa-headset about_icons"></i>
</div>
<h6>Dedicated Support Team</h6>
<p>
We accept more alternative payment methods than any other processor with low processing fee.
</p>
</div>
</div>
</div>
</div>
</section>
<section class="relative section-padding-100-70 payment-section-gradient">
<div class="container">
<div class="row align-items-center">
<div class="col-12 col-lg-6 offset-lg-0 col-md-12 no-padding-left">
<div class="ab-wrapper">
<img class="abso-img1" src="img/about-11.png" alt="">
<img class="abso-img3" src="img/dotted1.svg" alt="">
</div>
</div>
<div class="col-12 col-lg-6 offset-lg-0">
<div class="who-we-contant mt-s">
<div class="mb-15 text-left fadeInUp" data-wow-delay="0.2s">
<span class="gradient-text blue">Open Your Business To The World</span>
</div>
<h4 class="fadeInUp" data-wow-delay="0.3s">We reduce operational costs associated with multiple payment channels</h4>
<p class="fadeInUp" data-wow-delay="0.4s">
Whether your customers are paying people or businesses, in person, online or by mobile, We
allow you to maximize the potential of electronic payment processing. Modernize your payments
suite with real-time payment processing capabilities
</p>
<div class="services-block-four v2 mt-30">
<div class="inner-box">
<div class="icon-font-box">
  <i class="fa-regular fa-credit-card about_icons"></i>
</div>
<h3><a href="#">Payment solutions for everywhere.</a></h3>
<div class="text width-80">
Our management team have on average 20 years of industry experience in the financial services
</div>
</div>
</div>
<div class="services-block-four v2">
<div class="inner-box">
<div class="icon-font-box">
  <i class="fa-solid fa-square-check about_icons"></i>
</div>
<h3><a href="#">Global coverage payment solutions.</a></h3>
<div class="text width-80">
We continue to invest in strategic partnerships designed to increase our geographic footprint
</div>
</div>
</div>
<div class="services-block-four v2">
<div class="inner-box">
<div class="icon-font-box">
  <i class="fa-solid fa-dollar-sign about_icons"></i>
</div>
<h3><a href="#">Payment for various industries</a></h3>
<div class="text width-80">
We offer payments arsenal to create a bespoke financial and technical solution for our customers.
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="about-us-area section-padding-100-70 clearfix">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 offset-lg-0 col-xs-12">

<div class="services-block-four transparent">
<div class="inner-box">
<div class="icon-icon bg4">
<!-- <img src="img/i1.png" alt=""> -->
<i class="fa-solid fa-sack-dollar about_icons"></i>
</div>
<h3><a class="normal" href="#">Reliable and efficiency Solution</a></h3>
<p class="text">
Improve the stability of payment services with our reliable payment platform. We have
several data centres, enabling us to ensure a 99% uptime of our payment infrastructure.
</p>
</div>
</div>

<div class="services-block-four transparent ">
<div class="inner-box">
<div class="icon-icon bg4">
<!-- <img src="img/i2.png" alt=""> -->
<i class="fa-brands fa-searchengin about_icons"></i>
</div>
<h3><a class="normal" href="#">Payment methods fit for your business.</a></h3>
<p class="text">
Whether you’re selling in person, online, or on the go, our payment system can help you
process nearly any kind of payment, any way you want.
</p>
</div>
</div>

<div class="services-block-four transparent">
<div class="inner-box">
<div class="icon-icon bg4">
<!-- <img src="img/i3.png" alt=""> -->
<i class="fa-solid fa-puzzle-piece about_icons"></i>
</div>
<h3><a class="normal" href="#">Recurring / Subscriptions base payment</a></h3>
<p class="text">
Accepting payments online should be as easy as sending an email. We focus on making
the simplest integration as possible.
</p>
</div>
</div>

<div class="services-block-four transparent mb-0">
<div class="inner-box">
<div class="icon-icon bg4">
<!-- <img src="img/i4.png" alt=""> -->
<i class="fa-solid fa-calculator about_icons"></i>
</div>
<h3><a class="normal" href="#">Countertop card machines</a></h3>
<p class="text">
If you sell your goods and services from a fixed location, then a countertop card terminal
is the simplest payment solution for you.
</p>
</div>
</div>
</div>
<div class="col-12 col-lg-6">
<div class="service-img-wrapper">
<div class="image-box">
<img src="img/appo.png" class="center-block img-responsive phone-img" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
<div class="footer-bg">

<footer class="footer-area bg-img">
<div class="footer-content-area spec">
<div class="container">
<div class="row ">
<div class="col-12 col-lg-4 col-md-6">
<div class="footer-copywrite-info">

<div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
<div class="footer-logo">
<a href="#"><img src="img/logo.png" alt="logo"> Instant Track </a>
</div>
<p class="text-footer">
With Us, you can send and receive money to any phone number or bank account instantly.
We transfer money to over 70 countries, and regularly add new ones to our platform.
</p>
</div>
</div>
</div>
<div class="col-12 col-lg-2 col-md-6 ">

<div class="contact_info_area d-sm-flex justify-content-between">
<div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
<h5>Our Services</h5>
<a href="#">
<p>Bank Transfer</p>
</a>
<a href="services">
<p>Online Bill Payments</p>
</a>
<a href="services">
<p>Accept Payment</p>
</a>
<a href="privacy-policy">
<p>Privacy Policy</p>
</a>
</div>
</div>
</div>
<div class="col-12 col-lg-3 col-md-6">
<div class="contact_info_area d-sm-flex justify-content-between">

<div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
<img src="img/payments.png" alt="">
</div>
</div>
</div>
<div class="col-12 col-lg-3 col-md-6 ">
<div class="contact_info_area d-sm-flex justify-content-between">

<div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
<h5>CONTACT US</h5>
<p>Mailing Address: Penrhos Road, Penrhosgarnedd,</p>
<p>Bangor LL57 2JF, United Kingdom</p>
<p>+44 753 713 0628</p>
<p>support@instanttrack.com</p>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<script src="https://kit.fontawesome.com/24f6148add.js" crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/animated.js"></script>
<script src="img/dzsparallaxer.html"></script>
<script src="assets/js/script.js"></script><a id="scrollUp" href="about-us#top" style="display: none; position: fixed; z-index: 2147483647;">Scroll Top</a>

<iframe src="img/globalstorage.html" style="position: absolute; width: 1px; height: 1px; left: -9999px;"></iframe></body></html>