<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      Instant Track Fund | Send Payment Worldwide | Track Payment 24/7
    </title>
    <link rel="icon" href="../public/img/logo.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body class="light-version">
    <div id="preloader">
      <div class="preload-content">
        <div id="loader-load"></div>
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-white fixed-top" id="banner">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="img/logo.png" alt="logo" class="w-25" /></span>
          Instant Track
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/track">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <section class="hero-section ico-bg3 relative hidden" id="home">
      <div class="hero-section-content">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-md-12">
              <div class="welcome-content text-left">
                <div class="promo-section">
                  <h3 class="special-head gradient-text cyan mt-s">
                    Domestic business payments anywhere in the world
                  </h3>
                </div>
                <div class="cd-intro v2 text-left">
                  <h1
                    class="cd-headline clip is-full-width thin"
                    style="line-height: 1.7"
                  >
                    <span class="w-text bold"
                      >Send and receive international wire transfers
                    </span>
                    <span
                      class="cd-words-wrapper"
                      style="width: 210px; display: inline-block"
                    >
                      <b class="gradient-text cyan bolder is-hidden"
                        >from anybody<span class="o-text">.</span></b
                      >
                      <b class="gradient-text cyan bolder is-visible"
                        >at any time<span class="o-text">.</span></b
                      >
                      <b class="gradient-text cyan bolder is-hidden"
                        >for less<span class="o-text">.</span></b
                      >
                    </span>
                  </h1>
                </div>
                <p class="g-text fadeInUp" data-wow-delay="0.3s">
                  Payments with a smooth and uninterrupted experience for your
                  customers. We use industry-leading technology that protects
                  your money and guarantees it arrives safely every time.
                </p>
                <div
                  class="info-btn-group fadeInUp w-text"
                  data-wow-delay="0.4s"
                >
                  <a href="#" class="btn more-btn pink mr-3">Learn More</a>
                  <a href="#" class="btn more-btn mr-3">Join Us</a>
                </div>
              </div>
            </div>
            <div
              class="mt-50 col-12 col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-sm-12"
            >
              <div class="wow fadeInUp" data-wow-delay="0.5s">
                <div class="ab-wrapper v2">
                  <img class="abso-img1" src="img/about-5.png" alt="" />
                  <img
                    class="wow abso-img2 fadeInUp floating max-75"
                    data-wow-delay="0.2s"
                    src="img/about-12.png"
                    alt=""
                  />
                  <img class="abso-img3" src="img/dotted1.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>

    <footer class="footer-area bg-img">
      <div class="striples-bg">
        <div
          class="faq-timeline-area transparent section-padding-100-85"
          id="faq"
        >
          <div class="container">
            <div class="section-heading text-center">
              <div
                class="mb-15 justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <span class="gradient-text blue">Check Status</span>
              </div>
              <h2 class="fadeInUp" data-wow-delay="0.3s">
                Track Payment Status
              </h2>
              <form method="post" action="index.php" name="myform">
                <div class="wrap-search">
                  <div class="search">
                    <input
                      type="text"
                      class="form-control searchTerm"
                      name="searchPayments"
                      placeholder="Enter Your Payment Transaction Number (PTN)"
                    />
                    <button
                      type="submit"
                      class="searchButton"
                      name="submit"
                      id="submit"
                      value="Submit"
                    >
                      <i><img src="img/search1.png" /></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="row align-items-center">
              <div class="col-12 col-lg-6 col-md-12">
                <div class="wrapper-counter">
                  <img src="img/about-2.jpg" alt="" />
                </div>
              </div>
              <div class="col-12 col-lg-6 col-md-12">
                <div class="section-heading">
                  <h2 class="bl-text wow fadeInUp" data-wow-delay="0.3s">
                    Send And Receive Payments
                  </h2>
                  <p class="payment-text">
                    With Us not only do you get leading currency rates you also
                    make a difference with every money transfer. Receive funds
                    using an email address, mobile number or bank account
                    details
                  </p>
                  <p class="payment-text">
                    With up to 10 currency accounts with 50 currencies
                    supported, you can instantly receive and send money to
                    almost anyone anywhere in the world, anytime.
                  </p>
                  <p>
                    At SeerBit, we have a range of payment methods to cater to
                    every business. We don't just throw you a bouquet of
                    solutions you don't need. We walk with you to tailor your
                    payment options and give you exactly what you and your
                    shoppers need.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section
          class="clients_testimonials_area bg-img section-padding-0-0"
          id="test"
        >
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="section-heading text-center">
                  <div
                    class="mb-15 justify-content-center fadeInUp"
                    data-wow-delay="0.2s"
                  >
                    <span class="gradient-text blue">Client Testimonials</span>
                  </div>
                  <h2 class="bl-text wow fadeInUp" data-wow-delay="0.3s">
                    What people are saying
                  </h2>
                  <p class="wow fadeInUp" data-wow-delay="0.4s">
                    Take a few minutes to see what our cilents say about us.
                    Then contact us to let us help you send and receive and who
                    knows? You might find your testimonial on this page someday!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="cotainer-fluid">
            <div
              class="row justify-content-center wow fadeInUp"
              data-wow-delay="0.4s"
            >
              <div class="col-12 col-md-10 col-xs-10 offset-xs-1">
                <div class="client_slides owl-carousel">
                  <div class="single-testimonial text-center">
                    <div class="testimonial_image">
                      <img src="img/test1.jpg" alt="" />
                    </div>

                    <div class="testimonial-description">
                      <div class="testimonial_text">
                        <p>
                          The Etrack Fund team have been great to work with. Not
                          very many payment gateway providers exhibit the
                          professionalism, dedication and personalised service
                          to their clients like Etrack Fund. Etrack Fund's
                          insider knowledge of the trade will not only save you
                          time but money as well. We have no hesitation in
                          recommending them to anyone in search of an
                          exceptional payment gateway provider.
                        </p>
                      </div>

                      <div class="admin_text">
                        <h5>Benjamin M. Schell</h5>
                        <p>Food service manager</p>
                      </div>
                    </div>
                  </div>

                  <div class="single-testimonial text-center">
                    <div class="testimonial_image">
                      <img src="img/test2.jpg" alt="" />
                    </div>

                    <div class="testimonial-description">
                      <div class="testimonial_text">
                        <p>
                          I can't tell you how wonderful all of you have been to
                          work with. Your customer service is amazing and the
                          service you provide has turned our lives around- so
                          thank you!
                        </p>
                      </div>

                      <div class="admin_text">
                        <h5>George A. Knight</h5>
                        <p>Chemical engineer, La Petite Boulangerie</p>
                      </div>
                    </div>
                  </div>

                  <div class="single-testimonial text-center">
                    <div class="testimonial_image">
                      <img src="img/test3.jpg" alt="" />
                    </div>

                    <div class="testimonial-description">
                      <div class="testimonial_text">
                        <p>
                          We have been with Etrack Fund Payment Processing for
                          over three years, and it is been a pleasure. They have
                          been attentive to our needs and are always available
                          to answer any questions we have encountered.
                        </p>
                      </div>

                      <div class="admin_text">
                        <h5>Charles Gary</h5>
                        <p>Optical goods worker, Clegy Auto Parts.</p>
                      </div>
                    </div>
                  </div>

                  <div class="single-testimonial text-center">
                    <div class="testimonial_image">
                      <img src="img/test4.jpg" alt="" />
                    </div>

                    <div class="testimonial-description">
                      <div class="testimonial_text">
                        <p>
                          When running a business the bottom line is just about
                          the most important thing. With Etrack Fund not only is
                          my bottom like taken care of, but if I ever have an
                          issue or a question they are there for me. This has
                          been true from day one and all the way through. Thanks
                          again Etrack Fund for all your help.
                        </p>
                      </div>

                      <div class="admin_text">
                        <h5>Clara Thompson</h5>
                        <p>Graphic artist, Total Yard Maintenance.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="our-partners clearfix section-padding-100-70">
          <div class="container">
            <div class="section-heading text-center">
              <div
                class="mb-15 justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <span class="gradient-text blue"
                  >Recognized Around the World</span
                >
              </div>
              <h2 class="fadeInUp" data-wow-delay="0.3s">
                Our powerful Partners
              </h2>
              <p class="fadeInUp" data-wow-delay="0.4s">
                We help individual and business send and receive payment
                worldwide in partnership with our worldwide partners.
              </p>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/1.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/2.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/3.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/4.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/6.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/7.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team-member">
                  <div class="team-img">
                    <img
                      class="img-responsive center-block"
                      src="img/8.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="footer-content-area spec">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4 col-md-6">
              <div class="footer-copywrite-info">
                <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                  <div class="footer-logo">
                    <a href="#"
                      ><img src="img/logo.png" alt="logo" /> EaseTrack
                    </a>
                  </div>
                  <p>
                    With Us, you can send and receive money to any phone number
                    or bank account instantly. We transfer money to over 70
                    countries, and regularly add new ones to our platform.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-md-6">
              <div class="contact_info_area d-sm-flex justify-content-between">
                <div
                  class="contact_info mt-s text-center fadeInUp"
                  data-wow-delay="0.2s"
                >
                  <h5>Our Services</h5>
                  <a href="about-us">
                    <p>Bank Transfer</p>
                  </a>
                  <a href="services">
                    <p>Online Bill Payments</p>
                  </a>
                  <a href="services">
                    <p>Accept Payment</p>
                  </a>
                  <a href="privacy-policy">
                    <p>Privacy Policy</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
              <div class="contact_info_area d-sm-flex justify-content-between">
                <div
                  class="contact_info mt-x text-center fadeInUp"
                  data-wow-delay="0.3s"
                >
                  <img src="img/payments.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6">
              <div class="contact_info_area d-sm-flex justify-content-between">
                <div
                  class="contact_info mt-s text-center fadeInUp"
                  data-wow-delay="0.4s"
                >
                  <h5>CONTACT US</h5>
                  <p>Mailing Address: Penrhos Road, Penrhosgarnedd,</p>
                  <p>Bangor LL57 2JF, United Kingdom</p>
                  <p>+44 753 713 0628</p>
                  <p>support@easetrack.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/animated.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
