<!DOCTYPE html>
<html
  style=""
  class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
    />
    <meta name="author" content="Coderthemes" />
    <link rel="shortcut icon" href="img/favicon_1.ico" />
    <title>EaseTrack Fund | Pay With Bank Transfer</title>

    <link rel="stylesheet" href="assets/css/morris.css" />
    <link
      href="assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
    <link
      href="assets/css/components.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link
      href="assets/css/responsive.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <script src="assets/js/modernizr.min.js"></script>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 top-board">
            <div class="col-md-6">
              <h3 class="board-title">SEND FUND TO</h3>
              <p>Easetrack Payments</p>
            </div>
            <div class="col-md-6 text-right">
              <div class="logo">
                <a class="navbar-brand" href="/"
                  ><span><img src="img/logo.png" alt="logo" /></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-12 payment-page">
            <div class="row main-payment-row">
              <div class="col-md-8 main-payments text-center">
                <h4 class="payment-title">
                  <span class="bold">ORDER ID</span> : 628700499757sFKo
                </h4>
              </div>
              <div class="col-md-8 main-payments text-center">
                <p></p>
                <h3 class="bottom-line">Kindly send exactly</h3>
                <h5 class="address-link bold">1,450.00 PLN PLN</h5>
                <br />
                <h5>PLN</h5>
                <hr />
                <h5>to</h5>
                <br />
                <h5 class="address-link address-link-title bold">
                  Bank Name: Revolut bank<br />
                  Account name: Jackson Odigie<br />
                  Account number: 71112324<br />
                  Sort code: 040075<br />
                  Iban: GB29 REVO 0099 7006 7982 84<br />
                  Country: Great Britain<br />
                </h5>
                <p></p>
              </div>
              <div class="col-md-4">
                <img
                  src="img/d77dc1cdca03743d56ac561d1bea2555.png"
                  alt="bitcoin:"
                  class="qr_box"
                />
                <div class="wallet-btn">
                  <a class="btn btn-primary waves-effect waves-light" href="#">
                  </a>
                </div>
              </div>
            </div>
            <div class="row payment-timmer-line">
              <div class="col-md-6 text-left">
                <span id="m_timer" class="style colorDefinition size_lg"
                  >28:47</span
                >
                <span class="notice">Waiting for your payment...</span>
              </div>
              <div class="col-md-6 text-right bold">
                ** <i class="fa fa-exchange"></i> **
              </div>
            </div>
            <div class="col-md-12 p-summary">
              <div class="col-md-8">
                <h5 class="bold">Order Summary</h5>
                <table class="col-md-12">
                  <tbody>
                    <tr class="wai-color">
                      <td class="col-md-6">Payment Status :</td>
                      <td class="col-md-6">transaction processing</td>
                    </tr>
                    <tr class="wai-color-two">
                      <td class="col-md-6">
                        Awaiting Transport Charges Confirmation Receipt :
                      </td>
                      <td class="col-md-6">1,450.00 PLN&nbsp; PLN</td>
                    </tr>
                    <tr class="wai-color">
                      <td class="col-md-6">Rate :</td>
                      <td class="col-md-6">PLN</td>
                    </tr>
                    <tr class="wai-color-two">
                      <td class="col-md-6">EaseTrack Fund Will Receive:</td>
                      <td class="col-md-6">1,450.00 PLN&nbsp; PLN</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <h5 class="bold">&nbsp;</h5>
                <table class="col-md-12">
                  <tbody>
                    <tr>
                      <td class="col-md-2 top-icon">
                        <i class="fa fa-envelope-o"></i>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="col-md-2 top-icon">
                        <i class="fa fa-envelope"></i>
                      </td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12 merchant-pane text-right">
            <span class="bold"
              ><a href="index.php" class="bold-text">Back to Merchant Website</a></span
            >
          </div>
        </div>
        <footer class="footer text-right">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
                © 2021. All rights reserved.
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/24f6148add.js" crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.peity.min.js"></script>
    <script src="assets/js/jquery.waypoints.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/raphael-min.js"></script>
    <script src="assets/js/jquery.knob.js"></script>
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>
    <script src="assets/js/randtext.app.js"></script>
    <script src="assets/js/jquery.countdownTimer.min.js"></script>
    <script src="assets/js/select_text.js"></script>
    <script type="text/javascript">
      var time = 29;
      $(document).ready(function () {
        if ($("#m_timer").length) {
          //start timmer
          $("#m_timer").countdowntimer({
            minutes: time,
            size: "lg",
          });

          //reload page
          setTimeout(function () {
            location = "";
          }, 60000);
        }
      });
    </script>

    <iframe
      src="img/globalstorage.html"
      style="position: absolute; width: 1px; height: 1px; left: -9999px"
    ></iframe>
  </body>
</html>
