<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      Instant Track Fund | Send Payment Worldwide | Track Payment 24/7
    </title>
    <link rel="icon" href="../img/logo.png" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
  </head>
  <body class="light-version">
    <nav class="navbar navbar-expand-md navbar-white fixed-top" id="banner">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="img/logo.png" alt="logo" class="w-25" /></span>
          Instant Track
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/track">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="breadcumb-area">
      <div class="breadcumb-content">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                <h2
                  class="w-text title wow fadeInUp"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;
                  "
                >
                  Login
                </h2>
                <ol
                  class="breadcrumb justify-content-center wow fadeInUp"
                  data-wow-delay="0.4s"
                  style="
                    visibility: visible;
                    animation-delay: 0.4s;
                    animation-name: fadeInUp;
                  "
                >
                  <li class="breadcrumb-item"><a href="../">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Login
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section-padding-100-50 contact_us_area" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-heading text-center">
              <div
                class="mb-15 justify-content-center fadeInUp"
                data-wow-delay="0.2s"
              >
                <br />
                <span class="gradient-text blue">Account Login</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="contact_form">
              <form
                class="form-horizontal m-t-20"
                method="POST"
                action="index.php"
              >
                <div class="row">
                  <div class="col-12">
                    <div id="success_fail_info"></div>
                  </div>
                  <div class="col-12">
                    <div
                      class="group wow fadeInUp"
                      data-wow-delay="0.4s"
                      style="
                        visibility: visible;
                        animation-delay: 0.4s;
                        animation-name: fadeInUp;
                      "
                    >
                      <input
                        type="email"
                        name="user_email"
                        id="user_email"
                        required=""
                      />
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Email</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="group wow fadeInUp"
                      data-wow-delay="0.4s"
                      style="
                        visibility: visible;
                        animation-delay: 0.4s;
                        animation-name: fadeInUp;
                      "
                    >
                      <input
                        type="password"
                        name="user_password"
                        id="user_password"
                        required=""
                      />
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Password</label>
                    </div>
                  </div>
                  <div
                    class="col-12 text-center wow fadeInUp"
                    data-wow-delay="0.6s"
                    style="
                      visibility: visible;
                      animation-delay: 0.6s;
                      animation-name: fadeInUp;
                    "
                  >
                    <input
                      type="hidden"
                      name="token"
                      value="25d187b9d0e47946f9fa73992a595f04abfea618"
                    />
                    <button
                      class="btn more-btn"
                      type="submit"
                      value="submit"
                      name="login"
                    >
                      Log In
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer-bg">
      <footer class="footer-area bg-img">
        <div class="footer-content-area spec">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 col-md-6">
                <div class="footer-copywrite-info">
                  <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                    <div class="footer-logo">
                      <a href="#"
                        ><img src="../img/logo.png" alt="logo" /> EaseTrack
                      </a>
                    </div>
                    <p>
                      With Us, you can send and receive money to any phone
                      number or bank account instantly. We transfer money to
                      over 70 countries, and regularly add new ones to our
                      platform.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-2 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-s text-center fadeInUp"
                    data-wow-delay="0.2s"
                  >
                    <h5>Our Services</h5>
                    <a href="../about-us">
                      <p>Bank Transfer</p>
                    </a>
                    <a href="../services">
                      <p>Online Bill Payments</p>
                    </a>
                    <a href="../services">
                      <p>Accept Payment</p>
                    </a>
                    <a href="../privacy-policy">
                      <p>Privacy Policy</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-x text-center fadeInUp"
                    data-wow-delay="0.3s"
                  >
                    <img src="../img/payments.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-s text-center fadeInUp"
                    data-wow-delay="0.4s"
                  >
                    <h5>CONTACT US</h5>
                    <p>Mailing Address: Penrhos Road, Penrhosgarnedd,</p>
                    <p>Bangor LL57 2JF, United Kingdom</p>
                    <p>+44 753 713 0628</p>
                    <p>support@easetrack.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/animated.js"></script>
    <script src="../img/dzsparallaxer.html"></script>
    <script src="../assets/js/script.js"></script>
    <a
      id="scrollUp"
      href="sign-in#top"
      style="position: fixed; z-index: 2147483647; display: none"
      >Scroll Top</a
    >

    <iframe
      src="../js/globalstorage.html"
      style="position: absolute; width: 1px; height: 1px; left: -9999px"
    ></iframe>
  </body>
</html>
