<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      Instant Track Fund | Send Payment Worldwide | Track Payment 24/7
    </title>
    <link rel="icon" href="img/logo.png" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body class="light-version">
    <nav class="navbar navbar-expand-md navbar-white fixed-top" id="banner">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="img/logo.png" alt="logo" class="w-25" /></span>
          Instant Track
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/track">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="breadcumb-area">
      <div class="breadcumb-content">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                <h2
                  class="w-text title wow fadeInUp"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;
                  "
                >
                  Privacy Policy
                </h2>
                <ol
                  class="breadcrumb justify-content-center wow fadeInUp"
                  data-wow-delay="0.4s"
                  style="
                    visibility: visible;
                    animation-delay: 0.4s;
                    animation-name: fadeInUp;
                  "
                >
                  <li class="breadcrumb-item"><a href="">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Privacy Policy
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section
      class="about-us-area special section-padding-100-50 clearfix cir-right"
    >
      <div class="container">
        <div class="section-heading">
          <h2 class="fadeInUp">Instant Track Fund Privacy Policy</h2>
        </div>
        <div class="row align-items-center">
          <div class="services-column col-lg-12 col-xs-12">
            <div class="services-block-four how">
              <div class="privacy-box">
                <h3>
                  <a class="normal" href="#"
                    >We work hard to protect your information.</a
                  >
                </h3>
                <div class="text">
                  <p>
                    We take our responsibility to protect the privacy and
                    confidentiality of your information, including personal
                    information, very seriously. We maintain physical,
                    electronic and procedural safeguards that comply with
                    applicable legal standards to secure such information from
                    unauthorized access and use, accidental or unlawful
                    alteration and destruction, and other unlawful or
                    unauthorized forms of Processing. We hold our employees
                    accountable for complying with relevant policies,
                    procedures, rules and regulations concerning the privacy and
                    confidentiality of information.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3>
                  <a class="normal" href="#"
                    >Personal Data You Provide to Us Voluntarily.</a
                  >
                </h3>
                <div class="text">
                  <p>
                    We collect information about you that you voluntarily
                    provide to us when you: (i) contact us to learn more about
                    us, our Services, or other opportunities you indicate are of
                    interest at the time; (ii) access or use our Service; or
                    (iii) contact customer service. This information may
                    include, for example, your name, mailing address, business
                    name, and any other information that you choose to provide
                    to us when you comment on materials on our Services, in
                    order to contact you as a potential customer, or respond to
                    a support request. This also includes technical data, such
                    as IP addresses and device identifiers that are commonly
                    generated in establishing a connection with Us.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3><a class="normal" href="#">Your Rights</a></h3>
                <div class="text">
                  <p>
                    You may review limited Personal Data after logging in to
                    your Account. If you need to edit or update your
                    information, please contact us. If you do not have an
                    Account or if you have questions about your Account
                    information or other Personal Data, please contact us.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3><a class="normal" href="#">Cookies</a></h3>
                <div class="text">
                  <p>
                    When you visit our Services, we and certain business
                    partners and vendors may use cookies and other tracking
                    technologies (collectively, “Cookies”) to recognize you and
                    to otherwise customize your online experiences and other
                    content and advertising; measure the effectiveness of
                    promotions; and mitigate risk, prevent potential fraud, and
                    promote trust and safety across our Services. Certain
                    aspects and features of our Services are only available
                    through the use of Cookies, so if you choose to disable or
                    decline Cookies, your use of our Services may be limited or
                    not possible.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3><a class="normal" href="#">Security</a></h3>
                <div class="text">
                  <p>
                    We maintain technical, physical, and administrative security
                    measures designed to provide reasonable protection for your
                    information against loss, misuse, unauthorized access,
                    disclosure, and alteration. The security measures include
                    firewalls, data encryption, physical access controls to our
                    data centers, and information access authorization controls.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3><a class="normal" href="#">Retention of Data</a></h3>
                <div class="text">
                  <p>
                    We will retain your Personal Data only for as long as is
                    necessary for the purposes set out in this Privacy Policy.
                    We will retain and use your Personal Data to the extent
                    necessary to comply with our legal obligations (for example,
                    if we are required to retain your data to comply with
                    applicable laws), resolve disputes, and enforce our legal
                    agreements and policies.
                  </p>
                  <p>
                    We will also retain Usage Data for internal analysis
                    purposes. Usage Data is generally retained for a shorter
                    period of time, except when this data is used to strengthen
                    the security or to improve the functionality of our Service,
                    or we are legally obligated to retain this data for longer
                    time periods.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3><a class="normal" href="#">Data Location</a></h3>
                <div class="text">
                  <p>
                    We use servers located in the European Union and the United
                    States to store personal data gathered by the Services.
                    Additionally, to the extent we transfer your data to a
                    third-party, including our related affiliates, as described
                    in this Policy, these third-parties may be located outside
                    our usual business location and your country of residence.
                    In all such cases, data transfers will be carried out only
                    after we ensure the third-party provides comparable levels
                    of data protection and that they will use your data only for
                    the purposes set out in this Policy.
                  </p>
                </div>
              </div>
            </div>

            <div class="services-block-four how">
              <div class="privacy-box">
                <h3>
                  <a class="normal" href="#">Changes To This Privacy Policy</a>
                </h3>
                <div class="text">
                  <p>
                    We may update our Privacy Policy from time to time. We will
                    notify you of any changes by posting the new Privacy Policy
                    on this page.
                  </p>
                  <p>
                    We will let you know via email and/or a prominent notice on
                    our Service, prior to the change becoming effective and
                    update the "effective date" at the top of this Privacy
                    Policy.
                  </p>
                  <p>
                    You are advised to review this Privacy Policy periodically
                    for any changes. Changes to this Privacy Policy are
                    effective when they are posted on this page.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer-bg">
      <footer class="footer-area bg-img">
        <div class="footer-content-area spec">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-4 col-md-6">
                <div class="footer-copywrite-info">
                  <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                    <div class="footer-logo">
                      <a href="#"
                        ><img src="img/logo.png" alt="logo" /> Instant Track
                      </a>
                    </div>
                    <p>
                      With Us, you can send and receive money to any phone
                      number or bank account instantly. We transfer money to
                      over 70 countries, and regularly add new ones to our
                      platform.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-2 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-s text-center fadeInUp"
                    data-wow-delay="0.2s"
                  >
                    <h5>Our Services</h5>
                    <a href="about-us">
                      <p>Bank Transfer</p>
                    </a>
                    <a href="services">
                      <p>Online Bill Payments</p>
                    </a>
                    <a href="services">
                      <p>Accept Payment</p>
                    </a>
                    <a href="#">
                      <p>Privacy Policy</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-x text-center fadeInUp"
                    data-wow-delay="0.3s"
                  >
                    <img src="payments.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-6">
                <div
                  class="contact_info_area d-sm-flex justify-content-between"
                >
                  <div
                    class="contact_info mt-s text-center fadeInUp"
                    data-wow-delay="0.4s"
                  >
                    <h5>CONTACT US</h5>
                    <p>Mailing Address: Penrhos Road, Penrhosgarnedd,</p>
                    <p>Bangor LL57 2JF, United Kingdom</p>
                    <p>+44 753 713 0628</p>
                    <p>support@instanttrack.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="./privacy-policy_files/plugins.js.download"></script>
    <script src="assets/js/animated.js"></script>
    <script src="..img/dzsparallaxer.html"></script>
    <script src="assets/js/script.js"></script>
    <a
      id="scrollUp"
      href="#top"
      style="position: fixed; z-index: 2147483647; display: none"
      >Scroll Top</a
    >

    <iframe
      src="img/globalstorage.html"
      style="position: absolute; width: 1px; height: 1px; left: -9999px"
    ></iframe>
  </body>
</html>
