
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Instant Track Fund | Send Payment Worldwide | Track Payment 24/7</title>
<link rel="icon" href="img/logo.png">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body class="light-version">

 <nav class="navbar navbar-expand-md navbar-white fixed-top" id="banner">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="img/logo.png" alt="logo" class="w-25" /></span>
          Instant Track
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/track">Track</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/invoice">Invoice</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
<div class="breadcumb-area">

<div class="breadcumb-content">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<nav aria-label="breadcrumb" class="breadcumb--con text-center">
<h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Services</h2>
<ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
<li class="breadcrumb-item"><a href="">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Services</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>

<section class=" section-padding-100-50">
<div class="container">
<div class="section-heading text-center">
<div class="mb-15 justify-content-center fadeInUp" data-wow-delay="0.2s">
<span class="gradient-text blue">OUR SERVICES</span>
</div>
<h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Our Core Services</h2>
<p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
Paying with a contactless smart device is no longer science fiction. The way we use money and currencies
is changing rapidly. We are sitting at the heart of the payment industry.
</p>
</div>
<div class="row">
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">

<div class="service_icon">
<!-- <img src="img/s1.png" alt=""> -->
<i class="fa-solid fa-list about_icons"></i>
</div>
<h6 class="bold">Global Partnership</h6>
<p>
Succesful global projects with MasterCard, FIS, Deutsche Telekom, SIA and others
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">

<div class="service_icon">
<!-- <img src="img/s2.png" alt=""> -->
<i class="fa-solid fa-bag-shopping about_icons"></i>
</div>
<h6 class="bold">Highest standards</h6>
<p>
Products with highest standards in every chain of the payment ecosystem
(terminals, cards, acquiring, issuing)
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">

<div class="service_icon">
<!-- <img src="img/s3.png" alt=""> -->
<i class="fa-solid fa-shield-halved about_icons"></i>
</div>
<h6 class="bold">Secure Digital Payment</h6>
<p>
A healthy customer relationship is built on reliable, secure and convenient ways to pay.
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.2s">

<div class="service_icon">
<!-- <img src="img/s4.png" alt=""> -->
<i class="fa-solid fa-earth-oceania about_icons"></i>
</div>
<h6 class="bold">Frictionless usage</h6>
<p>
Easy methods to authenticate payments, like biometrics, have enormous customer adoption
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.3s">

<div class="service_icon">
<!-- <img src="img/s5.png" alt=""> -->
<i class="fa-regular fa-credit-card about_icons"></i>
</div>
<h6 class="bold">Integrated Payment Services</h6>
<p>
Our wide range of innovative products and services are tailored to meet your unique transactional needs.
</p>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4">

<div class="service_single_content text-center mb-100 fadeInUp" data-wow-delay="0.4s">

<div class="service_icon">
<!-- <img src="img/s6.png" alt=""> -->
<i class="fa-solid fa-house-laptop about_icons"></i>
</div>
<h6 class="bold">Mobile Payment Platform</h6>
<p>
We offer various services in the Point of Sales category ranging from deployment to maintenance.
</p>
</div>
</div>
</div>
</div>
</section>
<section class="about-us-area special section-padding-0-100 clearfix cir-right">
<div class="container">
<div class="section-heading text-center">
<div class="mb-15 justify-content-center fadeInUp" data-wow-delay="0.2s">
<span class="gradient-text blue">Digital Payment Solution</span>
</div>
<h2 class="fadeInUp" data-wow-delay="0.3s">Digital Payment Technologies</h2>
<p class="fadeInUp" data-wow-delay="0.4s">
Our online payment solutions are built to grow businesses from the inside out, helping you deliver a
world-class, cross-border and multi-currency customer experience that'll maximise your revenue.
</p>
</div>
<div class="row align-items-center">
<div class="services-column col-lg-6 col-xs-12">

<div class="services-block-four how">
<div class="inner-box">
<div class="step">1</div>
<h3><a class="normal" href="#">Local 24/7 support</a></h3>
<div class="text">
We're always a phone call away and here to help. Our Level 1 compliance protects your sensitive data.
</div>
</div>
</div>

<div class="services-block-four how">
<div class="inner-box">
<div class="step">2</div>
<h3><a class="normal" href="#">Best Payment Experience</a></h3>
<div class="text">
Whether you are starting from scratch or migrating millions of cards and merchants from legacy, Instant Track Fund is right for you!
</div>
</div>
</div>

<div class="services-block-four how" style="margin-bottom:0">
<div class="inner-box">
<div class="step">3</div>
<h3><a class="normal" href="#">Channel Transaction Switching</a></h3>
<div class="text">
We educe the total cost of payment acceptance with high security standards and daily routine automation. Create your own services using business rules and scripting
</div>
</div>
</div>
</div>
<div class="col-12 col-lg-6 mt-s">
<div class="service-img-wrapper">
<div class="image-box">
<img src="img/about-5.png" class="center-block img-responsive phone-img" alt="">
</div>
</div>
</div>
</div>
</div>
</section>
<div class="footer-bg">

<footer class="footer-area bg-img">
<div class="footer-content-area spec">
<div class="container">
<div class="row ">
<div class="col-12 col-lg-4 col-md-6">
<div class="footer-copywrite-info">

<div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
<div class="footer-logo">
<a href="#"><img src="img/logo.png" alt="logo"> Instant Track </a>
</div>
<p class="text-footer">
With Us, you can send and receive money to any phone number or bank account instantly.
We transfer money to over 70 countries, and regularly add new ones to our platform.
</p>
</div>
</div>
</div>
<div class="col-12 col-lg-2 col-md-6 ">

<div class="contact_info_area d-sm-flex justify-content-between">
<div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
<h5>Our Services</h5>
<a href="about-us">
<p>Bank Transfer</p>
</a>
<a href="#">
<p>Online Bill Payments</p>
</a>
<a href="#">
<p>Accept Payment</p>
</a>
<a href="privacy-policy">
<p>Privacy Policy</p>
</a>
</div>
</div>
</div>
<div class="col-12 col-lg-3 col-md-6">
<div class="contact_info_area d-sm-flex justify-content-between">

<div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
<img src="img/payments.png" alt="">
</div>
</div>
</div>
<div class="col-12 col-lg-3 col-md-6 ">
<div class="contact_info_area d-sm-flex justify-content-between">

<div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
<h5>CONTACT US</h5>
<p>Mailing Address: Penrhos Road, Penrhosgarnedd,</p>
<p>Bangor LL57 2JF, United Kingdom</p>
<p>+44 753 713 0628</p>
<p>support@instanttrack.com</p>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
<script src="https://kit.fontawesome.com/24f6148add.js" crossorigin="anonymous"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/animated.js"></script>
<!-- <script src="img/dzsparallaxer.html"></script> -->
<script src="assets/js/script.js"></script><a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">Scroll Top</a>
</body></html>